{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <a class="botonMenuInterior col-xs-12 col-sm-12 col-lg-12" href="{{ path('app_usuario_show', {'slug':app.user.id }) }}" style=" align-content: center; margin-bottom: 5px;">{{ app.user.username }}</a>
    <a class="botonMenuInterior col-xs-12 col-sm-12 col-lg-12" href="{{ path('fos_user_profile_edit') }}">Modificar perfil</a>
    <a class="botonMenuInterior col-xs-12 col-sm-12 col-lg-12" href="{{ path('fos_user_security_logout') }}" style=" align-content: center; margin-bottom: 5px;"> Exit </a>
{% elseif route != 'fos_user_security_login' and route != 'fos_user_registration_register' %}
    <form action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <div class="form-group">
            <input class="form-control" placeholder="Username" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
        </div>
        <div class="form-group">
            <input class="form-control" placeholder="Password" type="password" id="password" name="_password" required="required" />
        </div>
        <button class="botonMenuInterior col-xs-12 col-sm-12 col-lg-12"  style=" align-content: center; margin-bottom: 5px;" type="submit" class="btn btn-success">Sign in</button>
        <a class="botonMenuInterior col-xs-12 col-sm-12 col-lg-12"  style=" align-content: center; margin-bottom: 5px;" href="{{ path('fos_user_registration_register') }}">Sign up</a>
    </form>
{% endif %}
