{% extends '::base.html.twig' %}


{% block body %}
    <div>
        <form method="post" action="{{ action }}" novalidate="novalidate">
            <div>
                <ul>
                    {% for error in form.vars.errors %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div>{{ form_errors(form.nombre) }}{{ form_label(form.nombre) }}: {{ form_widget(form.nombre) }}</div>
            <div>{{ form_errors(form.texto) }}{{ form_label(form.texto) }}: {{ form_widget(form.texto) }}</div>
            {{ form_rest(form) }}
            <div><input type="submit" value="Ok"></div>
        </form>
    </div>

{% endblock %}