{% extends '::base.html.twig' %}

{% block body %}

<div class="fondoequipos" style="	 ">

    <h1 id="" class="ligas">Rondas</h1>

    <div class=" contenedor-lig container col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 10px;">
        <div class="profile-body">
            {% for ronda in liga.rondas %}
                 <div class="cajaligas col-lg-offset-1 col-lg-4 col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4 col-xs-offset-1 col-xs-10">
                    {% if (app.user == liga.creador) or (app.user == "Albert") %}
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border-bottom:2px solid rgba(0, 0, 0, 0.3); ">
                            <div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-12 col-sm-offset-2 col-xs-10" >
                                <div  class="col-lg-5 col-lg-offset-7 col-md-7 col-md-offset-4 col-sm-10 col-sm-offset-2 col-xs-4 col-xs-offset-8">
                                    <a class="verde" href="{{ path('app_ronda_updateRonda',{'id': ronda.id}) }}">✏️️</a>
                                    <a class="verde" href="{{ path('app_ronda_removeRonda',{'id': ronda.id}) }}">✖️</a>
                                </div>
                            </div>
                        </div>
                    {%   endif %}
                        <div class="col-lg-12 col-md-11 col-sm-11 col-xs-11"  style=" ">
                            <div class="col-lg-6 col-md-3 col-sm-12 col-xs-12" style=" text-align: center; "> <a style="	text-decoration: none!important;
" href="{{ path('app_ronda_showRonda', {'slug': ronda.id}) }}"><h4 class="grisclaro" style="margin-bottom: auto!important;">{{ ronda.nombre }}</h4></a></div>
                        </div>
                 </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block menu %}
    {% if (app.user == liga.creador) or (app.user == "Albert") %}
        <div style="margin-top: 10px; color: white; text-align: center;" >
        <a style=""  class=" botonMenuInterior col-xs-12 col-sm-12 col-lg-12" href="{{ path('app_ronda_insertRonda', {'id': liga.id}) }}">Añadir Ronda</a>
    </div>
    {%   endif %}

{% endblock %}
