
{% extends '::base.html.twig' %}

{% block body %}
    <div class="fondoliga ">

        <h1 class="ligas ">Jugador {{ jugador.nombre }} {{ jugador.apellidos }} #{{ jugador.numero }}</h1>

        <div class="cajajugador col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-3 col-xs-offset-1 col-xs-10" style=" ">
            <div class="userDefault col-xs-12 col-sm-12 col-lg-12 "></div>
        </div>
        <!-- Texto y edicion basica-->
        <div class="cajaliga col-lg-offset-1 col-lg-5 col-md-offset-1  col-md-5 col-sm-5 col-sm-offset-1 col-xs-offset-1 col-xs-10" style=" ">
            {% if (app.user == jugador.creador) or (app.user == "Albert") %}
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border-bottom:2px solid rgba(0, 0, 0, 0.3); ">
                        <div  class="col-lg-1 col-lg-offset-10 col-md-1 col-md-offset-8 col-sm-1 col-sm-offset-8 col-xs-offset-8 col-xs-1">
                            <a class="verde" href="{{ path('app_jugador_updateJugador',{'id': jugador.id}) }}">✏️️</a>
                        </div>
                        <div  class="col-lg-1 col-lg-offset-0 col-md-1 col-sm-1 col-xs-1">
                            <a class="verde" href="{{ path('app_jugador_removeJugador',{'id': jugador.id}) }}">✖️</a>
                        </div>
                </div>
            {%   endif %}
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  >
                <div class="grisclaro detalleJugador col-lg-6 col-md-6 col-sm-6 col-xs-12" style="  "><b style="color:white;">Nombre: </b>{{ jugador.nombre }}</div>
                <div class="grisclaro detalleJugador col-lg-6 col-md-6 col-sm-6 col-xs-12" style=" "><b style="color:white;">Numero: </b>{{ jugador.numero }}</div>
                <div class="grisclaro detalleJugador col-lg-6 col-md-5 col-sm-6 col-xs-12" style=" "><b style="color:white;">Apellidos: </b>{{ jugador.apellidos }}</div>
                <div class="grisclaro detalleJugador col-lg-6 col-md-6 col-sm-6 col-xs-12" style="  "><b style="color:white;">Posicion: </b>{{ jugador.posicion }}</div>
                <div class="grisclaro detalleJugador col-lg-6 col-md-6 col-sm-6 col-xs-12" style="  "><b style="color:white;">Puntos: </b>{{ jugador.puntos }}</div>
                <div class="grisclaro detalleJugador col-lg-6 col-md-6 col-sm-6 col-xs-12" style="  "><b style="color:white;">Equipo: </b><a class="verde" href="{{ path('app_equipo_showEquipo', {'slug': jugador.equipo.id}) }}">{{ jugador.equipo.nombre }}</a></div>
                {% if (app.user == jugador.creador) or (app.user == "Albert") %}
                    <div class="grisclaro detalleJugador col-lg-6 col-md-6 col-sm-6 col-xs-12" style="  "><b style="color:white;">Creado: </b>{{ jugador.createdAt|date("d/m/Y") }}</div>
                    <div class="grisclaro detalleJugador col-lg-6 col-md-6 col-sm-6 col-xs-12" style="  "><b style="color:white;">Autor: </b><a class="verde" href="{{ path('app_usuario_show', {'slug': jugador.creador.id }) }}">{{ jugador.creador }}</a></div>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}

